.profile {
  height: 100vh;
  padding: 20px 0;
}
.profile-wrapper {
  display: flex;
  justify-content: center;
}
.profile-container {
  width: 1200px;
  height: 500px;
  font-size: 1.2rem;
}
.profile-heading {
  text-align: center;
  font-size: 1.728rem;
  font-weight: bold;
}
.profile-edit-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
label {
  margin: 10px 0;
}
