.footer {
  width: 100%;
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-top: 50px;
}
.footer-container {
  max-width: 1280px;
  margin: 10px auto;
  box-sizing: border-box;
  text-align: center;
}
.footer-brand {
  font-weight: bolder;
  font-size: 1.728rem;
  color: var(--primary-color);
}
.footer-nav,
.footer-social {
  margin: 20px 0;
}
.footer-nav a,
.footer-social a {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--text-color);
}
.footer-nav a:hover,
.footer-social a:hover {
  color: var(--primary-color);
}
